data/
!model/mask/mask2former/data
*.pyc
__pycache__/
model/__pycache__/

weights/
wandb/
**/wandb/
ckpt/
**/ckpt/


pretrain/
!pretrain/download_hf.sh
output/
index.md
.vscode/
lightning_logs/
# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

*.png
*.json
*.diff
*.jpg

output
instant_test_output
inference_test_output

# project dirs
/detectron2/model_zoo/configs
/models
/snippet
config/prompter_aruix.yaml
